line-bot-sdk==3.14.3
Flask==2.3.2
python-dotenv==1.0.0
openai==0.28.0
google-cloud-speech==2.15.0
tinydb==4.7.1
loguru==0.7.2
requests==2.32.3
pydub==0.25.1
numpy==1.24.3
pyautogen==0.9
google-auth==2.23.4 